.main_photo {
  width: 100%;
  height: 850px;
  background: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}

.main_text {
  font-weight: 700;
  margin-top: 80px;
  font-size: 50px;
  margin-bottom: 40px;
}

.text_container {
  width: 70%;
  font-size: 25px;
}
