.main_container {
  width: 440px;
  height: 482px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .main_container {
    width: 280px;
    height: 330px;
  }
}

.image_container {
  .img {
    width: 440px;
    height: 270px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #fff;
    box-shadow: 12px 4px 25px 0px rgba(0, 0, 0, 0.04);
  }
}

.model_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.model_text {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.name_text {
  color: #012d32;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .model_text {
    font-size: 15px;
  }
  .name_text {
    font-size: 20px;
  }
}

.des_container {
  margin-top: 26px;
  width: 316px;
  height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  text-align: start;
  p {
    color: rgba(0, 0, 0, 0.34);
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 500;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    text-align: start;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1100px) {
  .des_container {
    width: 280px;
    margin-top: 15px;
    height: 53px;
    background-color: white;
    p {
      font-size: 13px;
    }
  }
}

.price_container {
  margin-top: 23px;
  width: 80%;
  color: #012d32;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
}

@media (max-width: 1100px) {
  .price_container {
    font-size: 20px;
  }
  .image_container {
    width: 280px;
    height: 160px;
    .img {
      width: 280px;
      height: 160px;
    }
  }
}
