.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.text_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 48px;
  margin-top: 56px;
}

.number_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_cont {
  width: 50%;
  margin-right: 12%;
  display: flex;
  justify-content: space-between;
}

.yachts_container {
  width: 80%;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.show_more_container {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    cursor: pointer;
    width: 238px;
    height: 101px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #012d32;
    margin-top: 71px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media (max-width: 1100px) {
  .text {
    font-size: 35px;
  }

  .text_cont {
    width: 90%;
    flex-direction: column;
    align-items: center;
    img {
      height: 60px;
    }
  }

  .yachts_container {
    flex-direction: column;
    align-items: center;
  }
}
