.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.text_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 48px;
  margin-top: 56px;
}

.number_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_cont {
  width: 50%;
  margin-right: 12%;
  display: flex;
  justify-content: space-between;
}

.yachts_container {
  width: 80%;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 1100px) {
  .text {
    font-size: 35px;
  }

  .text_cont {
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
    img {
      height: 60px;
    }
  }

  .yachts_container {
    flex-direction: column;
    align-items: center;
  }
}
