.main_container {
  margin-top: 200px;
  height: 220px;
  background-color: rgb(82, 82, 82);
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.text {
  font-weight: 700;
  font-size: 25px;
}

.label_container {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  input {
    margin-top: 4px;
    width: 200px;
    height: 20px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
