.cont {
  width: 680px;
  height: 390px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-top: 4rem;


  .num {
    height: 91px;
    width: 91px;
    border: 6px solid #012D32;
    border-radius: 91px;
    color: #012D32;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    color: #012D32;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
  }
  .txt{
    margin-top: 1rem;
    width: 88%;
    text-align: center;
    font-size: 16px;
    color: #000;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1100px) {
  .cont {
    padding-top: 1rem;
  .title{
    font-size: 24px;
  }
    .txt{
      font-size: 13px;
    }
  }
}